<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- add og:title -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <!-- change website url -->
    <meta property="og:url" content="http:/example.com" />
    <meta property="og:image" content="favicon.ico" />
    <!-- add site_name -->
    <meta property="og:site_name" content="" />
    <!-- other open graph tags(http://ogp.me/); article, video etc. -->

    <meta name="twitter:card" content="summary">
    <!-- change to the twitter handle -->
    <meta name="twitter:site" content="@twitter">
    <meta name="twitter:creator" content="@izelnakri">
    <!--add twitter:title -->
    <meta name="twitter:title" content="">
    <!--add description max 200 chars -->
    <meta name="twitter:description" content="">
    <!-- optional: twitter:image and appstores: https://dev.twitter.com/docs/cards/markup-reference -->

    <!-- add website url -->
    <meta property="al:web:url" content="http://www.example.com/s" />
    <!-- optional: appstore applinks, then should_fallback to false: http://applinks.org/documentation -->

    <link rel="stylesheet" href="http://d1zlufq8rmjxl.cloudfront.net/build/css/production.min.css">
    <script src="http://d1zlufq8rmjxl.cloudfront.net/build/js/modernizr.js"></script>
  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <izels-tag color="red">
    <div>
      <h1>Hello World</h1>
    </div>
    </izels-tag>

    <header>
      <h1 id="title">Mavericks reality distortion gradients attenuation.</h1>
      <h2 id="title">Mavericks reality distortion gradients attenuation.</h2>
      <h3 id="title">Mavericks reality distortion gradients attenuation.</h3>
      <h4 id="title">Mavericks reality distortion gradients attenuation.</h4>
      <h5 id="title">Mavericks reality distortion gradients attenuation.</h5>
      <h6 id="title">Mavericks reality distortion gradients attenuation.</h6>
      <p>Paragraph</p>
      <article>
        <div>
          <p>Mavericks reality distortion gradients attenuation. Thought through and through notifications transparency game center multitasking aluminum advanced desktop operating system genius bar. This changes everything designed by Apple in California passbook. Control center photos all-new design SDK technology clock. Simplicity is actually quite complicated. Functional layers 9:41am partly cloudy minimalism. Dock airdrop slide to answer music. Video multitouch iTunes compass. Harmonious finder grid system retina animation compressor experience keynote.</p>
        </div><!--
     --><div>
          <p>Mavericks reality distortion gradients attenuation. Thought through and through notifications transparency game center multitasking aluminum advanced desktop operating system genius bar. This changes everything designed by Apple in California passbook. Control center photos all-new design SDK technology clock. Simplicity is actually quite complicated. Functional layers 9:41am partly cloudy minimalism. Dock airdrop slide to answer music. Video multitouch iTunes compass. Harmonious finder grid system retina animation compressor experience keynote.</p>
        </div>
      </article>
      <nav>
        <ul>
          <li><a href="#">nav ul li a</a></li>
          <li><a href="#">nav ul li a</a></li>
          <li><a href="#">nav ul li a</a></li>
        </ul>
      </nav>
    </header>


    <footer>
      <h3>footer</h3>
    </footer>

    <script src="http://d1zlufq8rmjxl.cloudfront.net/build/js/require.js"></script>
  </body>
</html>